{{log this.currentUser}}

<div class="feedback-list-item">
  <div class="user-rating">
    <div class="user-data">
      <a href={{@feedback.user.path}} data-user-card={{@feedback.user.username}}>
        {{avatar @feedback.user imageSize="large"}}
      </a>
      <div class="rating-data">
        <span class="username">{{@feedback.user.username}}</span>
        {{rating-input value=@feedback.rating readOnly=true}}
      </div>
    </div>
    {{format-date @feedback.created_at format="medium"}}
  </div>
  <p>
    {{html-safe @feedback.review}}
  </p>
  
  {{#if this.currentUser.staff}}
    <button
      type="button"
      class="btn-flat delete-feedback"
      title={{i18n "discourse_user_feedbacks.user_feedbacks.delete_tooltip"}}
      {{on "click" (fn this.deleteFeedback @feedback.id)}}
    >
      {{d-icon "trash-alt"}}
    </button>
  {{/if}}
  
  <hr>
</div>
