<div class="topic-post clearfix post--sticky-avatar sticky-avatar post--regular regular">
  <article
    id="feedback_{{@feedback.id}}"
    class="boxed onscreen-post feedback-post"
    aria-label="feedback by @{{@feedback.user.username}}"
    role="region"
    data-feedback-id="{{@feedback.id}}"
    data-user-id="{{@feedback.user.id}}"
  >
    <div class="post__row row">
      <!-- Avatar -->
      <div class="topic-avatar">
        <div class="post-avatar">
          <a
            class="main-avatar"
            tabindex="-1"
            href="{{@feedback.user.path}}"
            data-user-card="{{@feedback.user.username}}"
            aria-label="{{@feedback.user.username}}'s profile"
          >
            {{avatar @feedback.user imageSize="medium"}}
          </a>
        </div>
      </div>

      <!-- Body -->
      <div class="post__body topic-body clearfix">
        <!-- Meta header -->
        <div class="topic-meta-data" role="heading" aria-level="2">
          <div class="names trigger-user-card">
            <span class="first full-name">
              <a
                href="{{@feedback.user.path}}"
                data-user-card="{{@feedback.user.username}}"
                aria-label="{{@feedback.user.username}}'s profile"
              >
                {{@feedback.user.username}}
              </a>
            </span>

            <div class="average-ratings">
              {{rating-input value=@feedback.rating readOnly=true}}
            </div>
          </div>

          <div class="post-infos">
            <div class="post-info post-date">
              <a class="post-date" title="Feedback date">
                <span class="relative-date">
                  {{format-date @feedback.created_at format="tiny"}}
                </span>
              </a>
            </div>
          </div>
        </div>

        <!-- Feedback body -->
        <div class="post__regular regular post__contents contents">
          <div class="cooked">
            <p>{{html-safe @feedback.review}}</p>
            <div class="cooked-selection-barrier" aria-hidden="true"><br></div>
          </div>

          <!-- Action bar -->
          <section class="post__menu-area post-menu-area clearfix">
            <nav class="post-controls collapsed">
              <div class="actions">
                <div class="permalink-button-wrapper">
                  <button
                    type="button"
                    class="btn no-text btn-icon btn-flat permalink-button"
                    title={{i18n "discourse_user_feedbacks.copy_title"}}
                    {{on "click" (fn this.copyPermalink @feedback.id)}}
                  >
                    {{d-icon "link"}}
                    <span class="permalink-check">
                      {{d-icon "check"}}
                    </span>
                    <span aria-hidden="true">&#8203;</span>
                  </button>
                
                  <div class="permalink-message">
                    {{i18n "discourse_user_feedbacks.link_copied"}}
                  </div>
                </div>
                
                {{#if this.currentUser.staff}}
                  <button
                    class="btn no-text btn-icon btn-flat delete-feedback-button"
                    title={{i18n "discourse_user_feedbacks.user_feedbacks.delete_tooltip"}}
                    {{on "click" (fn this.deleteFeedback @feedback.id)}}
                    type="button"
                  >
                    {{d-icon "trash-can"}}
                    <span aria-hidden="true">&#8203;</span>
                  </button>
                {{/if}}
              </div>
            </nav>
          </section>
        </div>

        <section class="post__actions post-actions"></section>
      </div>
    </div>
  </article>
</div>
